:root {
    
    --background-dark: #43a86d;
    --backgrounf-light: #2e3d41;
    --primary-green: rgb(2, 6, 7);
    --grey: #D6D6E3;
}
html {
    background-color: var(--background-dark);
    color: var(--primary-green);
    height: 100%;
}
.container {
    width: 500px;
    margin: auto auto;
}


main{
    text-align: center;
    margin-top: 100px;
}
lable,
input{
    display: block;
    margin-top: 0.5rem;
    width: 100%;
    text-align: center;
}

#check-button{
    font-size:1.15rem;
   display: block;
    margin: 0.95rem;
    border: 0.1rem;
    border-radius: 0.20rem;
    cursor: pointer;
    padding:0.3rem;
    font-weight: bold;
    width:85%;  
    color:blue;
}
button:hover{
    font-size: 1.2rem;
}
input{
    padding: 0.75rem;
    display: block;
    border-radius: 0.25rem;
    font-size:1.15rem;
    font-weight:540;
    text-align: center;
    color: #22401B;
    border: none;
    margin: 0.5rem;
}